@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bghero {
  background: linear-gradient(112.45deg, #7900E2 -8.97%, #500EA5 107.34%);
}

.carousel svg polyline {
  stroke: #57209D;
  stroke-width: 3;
}

#NavbarBottom a {
  color: #e09e00;
  font-weight: 600;
  text-transform: capitalize;
}

button.scrooltotop:hover svg:nth-child(1){
  transform: translateY(-12px);
}
button.scrooltotop:hover svg:nth-child(2){
  transform: translateY(-24px);
}